<div class="card shrink-0 w-full mx-auto shadow-2xl bg-base-100">
  <%= form_with(model: profile, class: "card-body") do |form| %>
    <%=  render 'shared/error_messages', object: form.object %>

    <div class="form-control">
      <%= form.label :name, class: 'label' %>
      <%= form.text_field :name, maxlength: 15, placeholder: t('.user_name_rule'), class: "input input-bordered input-primary w-full" %>
    </div>

    <div class="form-control">
      <%= label_tag '', Profile.human_attribute_name(:gender), class: 'label' %>
      <div class="flex flex-row gap-4">
        <% Profile.genders.each_key do |key| %>
          <div class="flex flex-row content-center gap-1">
            <%= form.radio_button :gender, key, class: "radio radio-xs md:radio-md radio-primary" %>
            <%= form.label :gender, Profile.genders_i18n[key], value: key, class: 'text-xs md:text-base' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="form-control">
      <%= form.label :age_group, class: 'label' %>
      <%= form.select :age_group,
        Profile.age_group_select_options,
        {},
        { class: 'select select-bordered select-primary w-full' }
      %>
    </div>

    <div class="mt-6 text-center">
      <%= form.submit class: "btn btn-accent btn-wide" %>
    </div>
  <% end %>
</div>
