<div class="card w-96 bg-neutral text-primary-content mx-auto">
  <div class="card-body">
    <h2 class="card-title">
      <%= @profile.name %>
    </h2>
    <p>
      <%= Profile.human_attribute_name(:gender) + ': ' + @profile.gender_i18n %>
    </p>
    <p>
      <%= Profile.human_attribute_name(:age_group) + ': ' + @profile.age_group_i18n %>
    </p>
    <div class="card-actions justify-end">
      <%= link_to t('defaults.edit'), edit_profile_path, class: 'btn btn-outline btn-success btn-sm' %>
    </div>
  </div>
</div>

<div class="flex justify-center mx-auto my-6">
  <%= link_to t('.to_my_reviews'), '#', class: 'btn btn-wide btn-primary' %>
</div>