<% content_for :title, t('.title') %>

<div class="title mb-4 text-center">
  <h1 class="font-bold text-2xl text-neutral">
    <%= t '.title' %>
  </h1>
</div>

<div class="card w-full bg-base-100 mx-auto max-w-xs shadow-lg">
  <div class="card-body">
    <h2 class="card-title">
      <%= @profile.name %>
    </h2>
    <p>
      <%= Profile.human_attribute_name(:gender) + ': ' + @profile.gender_i18n %>
    </p>
    <p>
      <%= Profile.human_attribute_name(:age_group) + ': ' + @profile.age_group_i18n %>
    </p>
    <div class="card-actions justify-end" ontouchstart="">
      <%= link_to edit_profile_path(@profile), class: 'px-1.5 rounded text-secondary text-lg active:bg-base-200' do %>
        <i class="fa-solid fa-pen-to-square"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center mx-auto mt-8">
  <%= link_to t('.back_to_mypage'), my_page_path, class: 'btn btn-wide btn-primary' %>
</div>