<div class="mx-auto md:w-2/3 w-full max-w-xs">
  <div class="title mb-4 text-center">
    <h1 class="font-bold text-2xl text-neutral">
      <%= t '.title' %>
    </h1>
  </div>
  <div class="form">
    <div class="card shrink-0 w-full max-w-sm mx-auto shadow-2xl bg-base-100">
      <%= form_with model: @user, url: password_reset_url(@token), data: {turbo_method: :put}, class: 'card-body' do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="fields flex flex-col gap-y-3">
          <div class="email form-control">
            <%= label_tag '', User.human_attribute_name(:email), class: 'label' %>
            <span class="font-bold">
              <%= @user.email %>
            </span>
          </div>
          <div class="password form-control">
            <%= f.label :password, class: 'label' %>
            <%= f.password_field :password, class: 'input input-bordered input-primary w-full max-w-xs' %>
          </div>
          <div class="password-confirmaiton form-control">
            <%= f.label :password_confirmation, class: 'label' %>
            <%= f.password_field :password_confirmation, class: 'input input-bordered input-primary w-full max-w-xs' %>
          </div>
        </div>
        <div class="form-control text-center mt-6">
          <%= f.submit class: 'btn btn-accent' %>
        </div>
      <% end %>
    </div>
  </div>
</div>