<div class="card w-96 bg-neutral mx-auto w-full shadow-xl">
  <div class="card-body flex flex-col text-sm p-3.5">
    <div class="review-header flex flex-col">
      <div class="user-name">
        <span class="font-bold"><%= review.user.name %></span>
        <span> さん</span>
      </div>
      <div class="user-profile">
        <ul class="flex flex-row gap-2 text-xs justify-end">
          <% if review.user.gender != 'gender_unspecified' %>
            <li><%= review.user.gender_i18n %></li>
          <% end %>
          <% if review.user.age_group != 'age_unspecified' %>
            <li><%= review.user.age_group_i18n %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="divider my-0"></div>

    <div class="review_body gap-2">
      <%= render 'rating_field_for_review', field: :minimal_interaction, review: review, field_short: 'int' %>
      <%= render 'rating_field_for_review', field: :equipment_customization, review: review, field_short: 'eqcust' %>
      <%= render 'rating_field_for_review', field: :solo_friendly, review: review, field_short: 'sofr' %>

      <div class="comment space-y-1 mt-2">
        <div class="attribure_name">
          <%= Review.human_attribute_name(:comment) + ':' %>
        </div>
        <div class="attribute-body p-2 rounded-lg bg-white/50 text-sm">
          <%= truncate(simple_format(review.comment), length: 50, omission: '…', escape: false, separator: '<') do %>
            <%= link_to '（続きを読む）', review_path(review), class: 'link' %>
          <% end %>
        </div>
      </div>

      <div class="last_update text-xs mt-0.5">
        <p class="text-right">
          <%= l(review.updated_at, format: :long) %>
        </p>
      </div>
    </div>

    <div class="card-actions flex flex-col mt-1">
      <div class="w-full flex justify-center mt-1">
        <%= link_to t('defaults.show'), review_path(review), class: 'btn btn-sm' %>
      </div>
    </div>
  </div>
</div>
