<div class="rounded bg-white mx-auto w-full my-6 text-sm">
  <div class="card-body">
    <div class="form">
      <%= form_with model: search_shops_form, scope: :q, url: shops_url, method: :get, html: { data: { turbo_frame: 'shops-list' } } do |f| %>
        <div class="fields flex flex-col gap-y-6">
          <%= turbo_frame_tag 'location-select-boxes' do %>
            <div class="location">
              <div class="select-boxes flex flex-col gap-y-1">
                <%= f.select :prefecture, Prefecture.selectable.map{ |p| [p.name, prefecture_areas_path(p)] }, { include_blank: t('defaults.select_prefecture') }, { onchange: "Turbo.visit(value, {frame: 'location-select-boxes'})", class: 'select select-bordered select-xs w-1/2 max-w-xs' } %>
                <%= f.select :area_id, [['---', nil]], {}, { disabled: true, class: 'select select-bordered select-sm w-full max-w-xs' } %>
              </div>
            </div>
          <% end %>

          <div class="search_field">
            <%= f.search_field :words, placeholder: t('defaults.search_words'), class: 'input input-bordered w-full max-w-xs' %>
          </div>

          <div class="rating_averages flex flex-col gap-y-2">
            <% Shop.average_attributes.each do |attr| %>
              <div class="average_items">
                <%= f.label attr, Shop.human_attribute_name(attr), class: 'text-xs' %>
                <%= f.select attr, Shop.averages_select_options, { include_blank: t('defaults.unspecified') }, class: 'select select-bordered select-sm w-full max-w-xs' %>
              </div>
            <% end %>
          </div>

          <div class="tags flex flex-col gap-y-2">
            <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, { include_hidden: false } do |b| %>
              <div class="tag">
                <%= b.check_box class: 'checkbox checkbox-sm checkbox-secondary align-middle' %>
                <%= b.label class: 'align-middle' %>
              </div>
            <% end %>
          </div>

        </div>
        <div class="buttons text-center mt-8">
          <%= f.submit t('defaults.search'), class: 'btn btn-accent btn-sm' %>
        </div>
      <% end %>
    </div>
  </div>
</div>