<div class="card shrink-0 w-full max-w-sm mx-auto shadow-2xl bg-base-100">
  <%= form_with model: search_shops_form, scope: :q, url: shops_url, method: :get, html: { data: { turbo_frame: 'shops-list' } }, class: 'card-body p-6' do |f| %>
    <%= f.hidden_field :prefecture_id %>
    <%= f.hidden_field :area_id %>
    <%= f.hidden_field :words %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= hidden_field_tag 'sort[key]', sort_shops_params[:key] %>

    <div class="preferences form-control">
      <%= label_tag '', t('defaults.preferences'), class: 'label' %>
      <div class="preferences-body bg-secondary/10 rounded-lg mx-2 p-2">
        <div class="rating_averages">
          <% Shop.average_attributes.each do |attr| %>
            <div class="average_items form-control">
              <div class="flex">
                <%= f.label attr, Shop.human_attribute_name(attr), class: 'label' %>
                <%= render 'shared/tooltip_icon', description: t("defaults.description.#{attr}") %>
              </div>
              <%= f.select attr, Shop.averages_select_options, { include_blank: t('defaults.unspecified') }, class: 'select select-bordered select-sm select-primary' %>
            </div>
          <% end %>
        </div>

        <div class="tags form-control flex flex-col gap-y-1 my-4">
          <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name, { include_hidden: false } do |b| %>
            <div class="tag">
              <%= b.check_box class: 'checkbox checkbox-sm checkbox-accent align-middle' %>
              <%= b.label class: 'align-middle' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-control text-center mt-6">
      <%= f.submit t('defaults.search'), class: 'btn btn-accent' %>
    </div>
  <% end %>
</div>