<div class="card bg-base-100 mx-auto w-full my-6 shadow-xl">
  <div class="card-body p-6">
    <div class="area text-xs text-right">
      <%= shop.area.name %>
    </div>

    <h2 class="card-title text-lg">
      <%= shop.name %>
    </h2>

    <div class="tags">
      <% shop.tags.each do |tag| %>
        <div class="badge badge-secondary badge-sm">
          <%= tag.name %>
        </div>
      <% end %>
      <%= link_to t('defaults.edit_tags'), shop_tags_path(shop), class: 'inline-block link link-accent text-xs', data: { turbo: false } %>
    </div>

    <div class="rating_averages flex flex-col gap-y-2 mt-4 p-2">
      <%= render 'rating_field_for_show', shop: shop, field: :int_average, description: t("defaults.description.int_average") %>
      <%= render 'rating_field_for_show', shop: shop, field: :eqcust_average, description: t("defaults.description.eqcust_average") %>
      <%= render 'rating_field_for_show', shop: shop, field: :sofr_average, description: t("defaults.description.sofr_average") %>
    </div>

    <div class="static-informations mx-auto space-y-4 px-2 mt-4">
      <div class="attribute grid grid-cols-[1fr_8fr]">
        <div>
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div>
          <%= simple_format(shop.address) %>
        </div>
      </div>

      <div class="attribute grid grid-cols-[1fr_8fr]">
        <div>
          <i class="fa-solid fa-phone"></i>
        </div>
        <div>
          <%= link_to shop.phone_number, "tel:#{shop.phone_number}", class: 'link md:pointer-events-none md:no-underline' %>
        </div>
      </div>

      <div class="attribute grid grid-cols-[1fr_8fr]">
        <div>
          <i class="fa-solid fa-clock"></i>
        </div>
        <div>
          <%= simple_format(shop.opening_hours) %>
        </div>
      </div>
    </div>

    <%= render 'shop_buttons', shop: shop %>
  </div>
</div>