<div class="card bg-neutral mx-auto w-full my-6">
  <div class="card-body">
    <h2 class="card-title">
      <%= shop.name %>
    </h2>

    <div class="area">
      <%= shop.area.name %> 
    </div>

    <div class="tags">
      <% shop.tags.each do |tag| %>
        <div class="badge badge-secondary badge-sm">
          <%= tag.name %>
        </div>
      <% end %>
      <%= link_to t('defaults.edit_tags'), shop_tags_path(shop), class: 'link link-success text-xs' %>
    </div>

    <div class="rating_averages gap-y-1">
      <%= render 'rating_field_for_shop', shop: shop, field: :int_average %>
      <%= render 'rating_field_for_shop', shop: shop, field: :eqcust_average %>
      <%= render 'rating_field_for_shop', shop: shop, field: :sofr_average %>
    </div>

    <div class="static-informations space-y-4 mt-4 text-sm">
      <% %i[address phone_number url opening_hours].each do |key| %>
        <div class="attribute">
          <p>
            <%= Shop.human_attribute_name(key) + ':' %>
            <br>
            <%= shop.send("#{key}") %>
          </p>
        </div>
      <% end %>
    </div>

    <%= render 'shop_buttons', shop: shop %>
  </div>
</div>
