<div class="card bg-primary/10 mx-auto w-full my-6 shadow-lg">
  <div class="card-body p-6">
    <div class="text-right text-lg mt-0">
      <%= render 'shops/fav_buttons', shop: shop %>
    </div>

    <h2 class="card-title text-lg">
      <%= shop.name %>
    </h2>

    <div class="tags">
      <% shop.tags.each do |tag| %>
        <div class="badge badge-accent badge-sm">
          <%= tag.name %>
        </div>
      <% end %>
    </div>

    <div class="rating_averages">
      <div class="indicator w-full">
        <span class="indicator-item indicator-bottom indicator-center badge badge-secondary badge-sm rounded"><%= t('defaults.preferences_rating') %></span>
        <div class="flex flex-col mx-auto gap-y-1 text-sm px-3 pt-3 pb-4 mt-3 rounded-lg border border-dotted border-secondary">
          <%= render 'shops/rating_for_index', shop: shop, field: :int_average %>
          <%= render 'shops/rating_for_index', shop: shop, field: :eqcust_average %>
          <%= render 'shops/rating_for_index', shop: shop, field: :sofr_average %>
        </div>
      </div>
    </div>

    <div class="static-informations mx-auto px-2 mt-5 text-sm">
      <div class="address grid grid-cols-[1fr_8fr]">
        <div>
          <i class="fa-solid fa-location-dot"></i>
        </div>
        <div>
          <%= simple_format(shop.address) %>
        </div>
      </div>
    </div>
  </div>

  <figure class="bg-primary active:bg-lime-700" ontouchstart="">
    <%= link_to shop_path(shop), data: {turbo: false}, class: 'w-full' do %>
      <div class="text-center p-4">
        <%= t('defaults.show') %>
      </div>
    <% end %>
  </figure>
</div>
