<div class="card w-96 bg-neutral mx-auto w-full my-6">
  <div class="card-body">
    <h2 class="card-title">
      <%= shop.name %>
    </h2>
    <div class="tags">
      <% shop.tags.each do |tag| %>
        <div class="badge badge-primary badge-sm">
          <%= tag.name %>
        </div>
      <% end %>
      <%= link_to t('defaults.edit_tags'), shop_tags_path(shop), class: 'link link-success text-xs' %>
    </div>

    <div class="attributes space-y-4 mt-4">
      <% %i[address phone_number url opening_hours].each do |key| %>
        <div class="attribute">
          <p>
            <%= Shop.human_attribute_name(key) + ':' %>
            <br>
            <%= shop.send("#{key}") %>
          </p>
        </div>
      <% end %>
    </div>

    <div class="card-actions justify-end">
      <% if current_page?(shops_path) %>
        <%= link_to t('defaults.show'), shop_path(shop), class: 'btn' %>
      <% end %>
      <%= link_to t('defaults.reviews'), shop_reviews_path(shop), class: 'btn btn-primary' %>
      <% if current_user.reviewed?(shop) %>
        <%= link_to t('defaults.show_my_review'), review_path(shop.reviews.find_by(user_id: current_user.id)), class: 'btn btn-accent' %>
      <% else %>
        <%= link_to t('defaults.post_review'), new_shop_review_path(shop), class: 'btn btn-accent' %>
      <% end %>
    </div>
  </div>
</div>
