<%= link_to shop_path(shop), data: {turbo: false} do %>
  <div class="card bg-base-100 mx-auto w-full my-6 shadow-lg active:bg-base-200">
    <div class="card-body p-6">
      <h2 class="card-title text-base">
        <%= shop.name %>
      </h2>

      <div class="tags">
        <% shop.tags.each do |tag| %>
          <div class="badge badge-secondary badge-sm">
            <%= tag.name %>
          </div>
        <% end %>
      </div>

      <div class="rating_averages gap-y-1 mt-4">
        <%= render 'rating_field_for_shop', shop: shop, field: :int_average %>
        <%= render 'rating_field_for_shop', shop: shop, field: :eqcust_average %>
        <%= render 'rating_field_for_shop', shop: shop, field: :sofr_average %>
      </div>

      <div class="static-informations space-y-4 mt-4 text-sm">
        <div class="attribute">
          <p>
            <%= Shop.human_attribute_name(:address) + ':' %>
            <br>
            <%= simple_format(shop.address) %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
