<% content_for :title, t('.title') %>

<div class="title mb-8">
  <h1 class="font-bold text-2xl text-neutral text-center">
    <%= t('.title') %>
  </h1>
  <h2 class="font-bold text-xl text-neutral text-center mt-6">
    <%= t('.subtitle', query: search_query(@search_shops_params)) %>
  </h2>
</div>

<div class="flex flex-col w-full border-opacity-50">
  <%= render 'search_form_for_shops', search_shops_form: @search_shops_form %>


  <%= turbo_frame_tag 'shops-list' do %>
    <div class="divider mt-8 text-sm">
      <%= @all_shops.length %>件
    </div>
    <% if @shops.present? %>
      <%= render partial: 'shop_summary', collection: @shops, as: :shop %>
      <%= render 'shared/pagination', object: @shops %>
    <% else %>
      <p class="text-center"><%= t '.no_shops' %></p>
    <% end %>
  <% end %>
</div>