<% content_for :title, t('.title') %>

<div class="flex flex-col w-full border-opacity-50">
  <%= render 'search_form_for_shops', search_shops_form: @search_shops_form %>


  <%= turbo_frame_tag 'shops-list' do %>
    <div class="divider mt-8 text-sm">
      <%= @all_shops.length %>件
    </div>
    <% if @shops.present? %>
      <%= render partial: 'shop_summary', collection: @shops, as: :shop %>
      <%= render 'shared/pagination', object: @shops %>
    <% else %>
      <p class="text-center"><%= t '.no_shops' %></p>
    <% end %>
  <% end %>
</div>