<div class="collapse collapse-arrow border border-primary">
  <input type="checkbox" />
  <div class="collapse-title text-sm font-semibold content-center">
    メールアドレスとパスワードで登録
  </div>
  <div class="collapse-content">
    <%= form_with(model: user, class: 'card-body pt-2') do |form| %>
      <%= render 'shared/error_messages', object: form.object %>

      <div class="form-control">
        <%= form.label :email, class: 'label' %>
        <%= form.email_field :email, class: "input input-bordered input-primary w-full max-w-xs" %>
      </div>

      <div class="form-control">
        <%= form.label :password, class: 'label' %>
        <%= form.password_field :password, minlength: 8, placeholder: t('.password_rule'), class: "input input-bordered input-primary w-full max-w-xs" %>
      </div>

      <div class="form-control">
        <%= form.label :password_confirmation, class: 'label' %>
        <%= form.password_field :password_confirmation, placeholder: t('.type_password_again'),class: "input input-bordered input-primary w-full max-w-xs" %>
      </div>

      <div class="form-control mt-6 text-center">
        <%= form.submit class: 'btn btn-accent' %>
      </div>
    <% end %>
  </div>
</div>