<%= form_with(model: user, class: "contents") do |form| %>
  <%= render 'shared/error_messages', object: form.object %>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.email_field :email, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="my-5">
    <%= form.label :password %>
    <%= form.password_field :password, class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="my-5">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, placeholder: t('.type_password_again'),class: "input input-bordered w-full max-w-xs" %>
  </div>

  <div class="text-center">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
