<% content_for :title, t('.title') %>

<div class="title mb-6 text-center">
  <h1 class="font-bold text-2xl text-neutral">
    <%= t '.title' %>
  </h1>
</div>

<div class="status flex justify-center">
  <div class="stats stats-vertical md:stats-horizontal shadow">
    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fa-regular fa-comment-dots text-3xl"></i>
      </div>
      <div class="stat-title">
        <%= t('.reviews_count') %>
      </div>
      <div class="stat-value">
        <%= @user.reviews.length %>
      </div>
    </div>

    <div class="stat">
      <div class="stat-figure text-secondary">
        <i class="fa-regular fa-thumbs-up text-3xl"></i>
      </div>
      <div class="stat-title">
        <%= t('.nices_count') %>
      </div>
      <div class="stat-value">
        <%= @nices_count %>
      </div>
    </div>
  </div>
</div>

<div class="text-center mx-auto mt-8">
  <%= link_to t('.my_profile'), user_profile_path(@user), class: 'btn btn-wide btn-primary' %>
  <%= link_to t('.my_reviews'), user_reviews_path(@user), class: 'btn btn-wide btn-primary mt-4' %>
  <%= link_to t('.favorites'), favorites_path, class: 'btn btn-wide btn-primary mt-4' %>
  <%= link_to t('.delete_user'), user_path, data: { turbo_method: :delete, turbo_confirm: t('.confirm_delete_user') }, class: 'btn btn-wide bg-red-700 text-white mt-4' %>
</div>