<div class="card w-96 bg-base-100 mx-auto w-full my-6 shadow-lg">
  <div class="card-body flex flex-col">
    <div class="review-header flex flex-col">
      <div class="shop_name">
        <span class="font-bold"><%= review.shop.name %></span>
        <span> のレビュー</span>
      </div>
    </div>

    <div class="divider mt-0"></div>

    <div class="review_body space-y-4">
      <%= render 'reviews/rating_field_for_show', field: :minimal_interaction, review: review, field_short: 'int', description: t('defaults.desc_of_int') %>
      <%= render 'reviews/rating_field_for_show', field: :equipment_customization, review: review, field_short: 'eqcust', description: t('defaults.desc_of_eqcust') %>
      <%= render 'reviews/rating_field_for_show', field: :solo_friendly, review: review, field_short: 'sofr', description: t('defaults.desc_of_sofr') %>

      <div class="comment space-y-1">
        <div class="attribure_name">
          <%= Review.human_attribute_name(:comment) + ':' %>
        </div>
        <div class="attribute-body p-2 rounded-lg bg-white/50 text-sm">
          <%= truncate(simple_format(review.comment), length: 100, omission: '…', escape: false, separator: '<') do %>
            <%= link_to '（続きを読む）', review_path(review), class: 'link' %>
          <% end %>
        </div>
      </div>

      <div class="last_update text-xs">
        <p class="text-right">
          <%= '最終更新: ' + l(review.updated_at, format: :long) %>
        </p>
      </div>
    </div>

    <div class="card-actions flex flex-col mt-4">
      <%= render 'shared/edit_and_delete_buttons', review: review %>
      <div class="w-full flex justify-center gap-1 mt-2">
        <%= link_to t('defaults.show'), review_path(review), class: 'btn btn-wide' %>
      </div>
    </div>
  </div>
</div>
