<div class="card shrink-0 w-full max-w-sm mx-auto shadow-2xl bg-accent/10">
  <%= form_with(model: review.persisted? ? review : [shop, review], class: "card-body p-6") do |form| %>
    <%= render 'shared/error_messages', object: form.object %>

    <div class="flex flex-col gap-y-4 p-2">
      <%= render 'rating_for_form', form: form, field: :minimal_interaction, field_short: 'int', description: t('defaults.description.minimal_interaction') %>
      <%= render 'rating_for_form', form: form, field: :equipment_customization, field_short: 'eqcust', description: t('defaults.description.equipment_customization') %>
      <%= render 'rating_for_form', form: form, field: :solo_friendly, field_short: 'sofr', description: t('defaults.description.solo_friendly') %>
    </div>

    <div class="form-control">
      <%= form.label :comment, class: 'label' %>
      <%= form.text_area :comment, rows: 7, placeholder: t('defaults.review_comment_placeholder'), class: "textarea textarea-bordered textarea-primary rounded-lg" %>
    </div>

    <div class="form-control text-center mt-6">
      <%= form.submit t(review.persisted? ? 'defaults.update' : 'defaults.post'), class: 'btn btn-accent' %>
    </div>
  <% end %>
</div>
