<div class="card w-96 bg-neutral mx-auto w-full my-6">
  <div class="card-body">
    <h2 class="card-title">
      <%= review.user.name + 'によるレビュー' %>
    </h2>

    <div class="review_body space-y-4 mt-4">
      <div class="minimal_interaction">
        <p>
          <%= Review.human_attribute_name(:minimal_interaction) + ': ' %>
        </p>
        <% if review.int_unspecified? %>
          評価なし
        <% else %>
          <div class="rating">
            <% Review.int_rates.each do |rate| %>
              <%= radio_button_tag "review_#{review.id}[minimal_interaction]", rate, rate == review.minimal_interaction, { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="equipment_customization">
        <p>
          <%= Review.human_attribute_name(:equipment_customization) + ': ' %>
        </p>
        <% if review.eqcust_unspecified? %>
          評価なし
        <% else %>
          <div class="rating">
            <% Review.eqcust_rates.each do |rate| %>
              <%= radio_button_tag "review_#{review.id}[equipment_customization]", rate, rate == review.equipment_customization, { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="solo_friendly">
        <p>
          <%= Review.human_attribute_name(:solo_friendly) + ': ' %>
        </p>
        <% if review.sofr_unspecified? %>
          評価なし
        <% else %>
          <div class="rating">
            <% Review.sofr_rates.each do |rate| %>
              <%= radio_button_tag "review_#{review.id}[solo_friendly]", rate, rate == review.solo_friendly, { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="comment">
        <p>
          <%= Review.human_attribute_name(:comment) + ':' %>
          <br>
          <%= truncate(simple_format(review.comment), length: 100, omission: '…', escape: false, separator: '<') do %>
            <%= link_to '（続きを読む）', review_path(review), class: 'link' %>
          <% end %>
        </p>
      </div>
    </div>

    <div class="card-actions justify-end">
      <% if current_page?(shop_reviews_path(shop)) %>
        <%= link_to t('defaults.show'), review_path(review), class: 'btn' %>
      <% end %>
    </div>
  </div>
</div>
