<div class="card w-96 bg-accent/10 mx-auto w-full my-6 shadow-lg">
  <div class="card-body flex flex-col p-6">
    <div class="review-header flex flex-col gap-y-2">
      <div class="shop-name grid grid-cols-[1fr_9fr]">
        <div class="text-center">
          <i class="fa-solid fa-shop"></i>
        </div>
        <div class="font-bold pl-1">
          <%= link_to shop.name, shop_path(shop), class: 'link' %>
        </div>
      </div>
      <div class="user-info grid grid-cols-[1fr_9fr]">
        <div class="text-center">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="pl-1 break-all">
          <%= link_to review.user.name, user_profile_path(review.user), class: 'link font-bold' %>
          <span class="text-xs inline-block"> さん</span>
          <% if review.user.profile_displayable? %>
            <span class="text-xs inline-block">
              <%= review.user.display_profile %>
            </span>
          <% end %>
        </div>
      </div>
    </div>

    <div class="divider mt-0"></div>

    <div class="review_body flex flex-col gap-y-6">
      <div class="indicator w-full">
        <span class="indicator-item indicator-bottom indicator-center badge badge-secondary badge-sm rounded"><%= t('defaults.preferences_rating') %></span>
        <div class="rating_averages w-full flex flex-col mx-2 gap-y-4 px-2 pt-2 pb-6 bg-base-100/50 border border-secondary border-dotted rounded-lg">
          <%= render 'rating_lg', field: :minimal_interaction, review: review, prefix: 'int', description: t('defaults.description.minimal_interaction') %>
          <%= render 'rating_lg', field: :equipment_customization, review: review, prefix: 'eqcust', description: t('defaults.description.equipment_customization') %>
          <%= render 'rating_lg', field: :solo_friendly, review: review, prefix: 'sofr', description: t('defaults.description.solo_friendly') %>
        </div>
      </div>

      <div class="comment">
        <div class="attribute-body p-2 rounded-lg bg-white/50 text-sm">
          <% if review.comment.blank? %>
            <p>コメントなし</p>
          <% else %>
            <%= safe_join(review.comment&.split("\n"), tag(:br)) %>
          <% end %>
        </div>
      </div>

      <div class="last_update text-xs">
        <p class="text-right">
          <%= '最終更新: ' + l(review.updated_at, format: :long) %>
        </p>
      </div>
    </div>

    <div class="card-actions flex flex-col mt-4">
      <%= render 'shared/edit_and_delete_buttons', review: review %>
      <div class="w-full flex justify-center gap-1 mt-2">
        <% if current_page?(shop_reviews_path(shop)) %>
          <%= link_to t('defaults.show'), review_path(review), class: 'btn btn-wide' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
