<div class="card w-96 bg-base-100 mx-auto w-full my-6 shadow-lg">
  <div class="card-body flex flex-col p-6">
    <div class="review-header flex flex-col gap-y-2">
      <div class="shop-name grid grid-cols-[1fr_9fr]">
        <div class="text-center">
          <i class="fa-solid fa-shop"></i>
        </div>
        <div class="font-bold pl-1">
          <%= review.shop.name %>
        </div>
      </div>
      <div class="user-info grid grid-cols-[1fr_9fr]">
        <div class="text-center">
          <i class="fa-solid fa-user"></i>
        </div>
        <div class="pl-1 break-all">
          <span class="font-bold"><%= review.user.name %></span>
          <span class="text-xs inline-block"> さん</span>
          <span class="text-xs inline-block">
            (<%= review.user.gender_i18n %> <%= review.user.age_group_i18n %>)
          </span>
        </div>
      </div>
    </div>

    <div class="divider mt-0"></div>

    <div class="review_body space-y-4">
      <div class="rating_averages flex flex-col gap-y-4 p-2">
        <%= render 'rating_lg', field: :minimal_interaction, review: review, field_short: 'int', description: t('defaults.description.minimal_interaction') %>
        <%= render 'rating_lg', field: :equipment_customization, review: review, field_short: 'eqcust', description: t('defaults.description.equipment_customization') %>
        <%= render 'rating_lg', field: :solo_friendly, review: review, field_short: 'sofr', description: t('defaults.description.solo_friendly') %>
      </div>

      <div class="comment">
        <div class="attribute-body p-2 rounded-lg bg-white/50 text-sm">
          <% if review.comment.blank? %>
            <p>コメントなし</p>
          <% else %>
            <% if current_page?(shop_reviews_path(shop)) %>
              <%= truncate(simple_format(review.comment), length: 100, omission: '…', escape: false, separator: '<') do %>
                <%= link_to '（続きを読む）', review_path(review), class: 'link' %>
              <% end %>
            <% else %>
              <%= safe_join(review.comment&.split("\n"), tag(:br)) %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="last_update text-xs">
        <p class="text-right">
          <%= '最終更新: ' + l(review.updated_at, format: :long) %>
        </p>
      </div>
    </div>

    <div class="card-actions flex flex-col mt-4">
      <%= render 'shared/edit_and_delete_buttons', review: review %>
      <div class="w-full flex justify-center gap-1 mt-2">
        <% if current_page?(shop_reviews_path(shop)) %>
          <%= link_to t('defaults.show'), review_path(review), class: 'btn btn-wide' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
