<div>
  <h1 class="font-bold text-4xl">
    <%= t('.title', shop: @shop.name) %>
  </h1>
</div>
<div class="flex justify-end my-4">
  <% if current_user.reviewed?(@shop) %>
    <%= link_to t('defaults.show_my_review'), review_path(@shop.reviews.find_by(user_id: current_user.id)), class: 'btn btn-accent' %>
  <% else %>
    <%= link_to t('defaults.post_review'), new_shop_review_path(@shop), class: 'btn btn-accent' %>
  <% end %>
</div>

<% if @reviews.present? %>
  <%= render @reviews, shop: @shop %>
<% else %>
  <p><%= t '.no_reviews' %></p>
<% end %>
