<% content_for :title, t('.title', shop: @shop.name) %>

<div>
  <h1 class="font-bold text-2xl text-neutral text-center">
    <%= @shop.name %>
  </h1>
</div>
<div class="flex justify-center my-4">
  <%= render 'shared/review_button', shop: @shop %>
</div>

<%= turbo_frame_tag 'reviews-list' do %>
  <% if @reviews.present? %>
    <div class="reviews flex flex-col gap-y-4">
      <%= render partial: 'review_summary', collection: @reviews, as: :review %>
    </div>
    <%= render 'shared/pagination', object: @reviews %>
  <% else %>
    <p class="text-center">
      <%= t '.no_reviews' %>
    </p>
  <% end %>
<% end %>
