<div class="card w-96 bg-neutral mx-auto w-full my-6">
  <div class="card-body flex flex-col">
    <div class="review-header flex flex-col">
      <div class="user-name">
        <span class="font-bold"><%= @review.user.name %></span>
        <span> さん</span>
      </div>
      <div class="user-profile">
        <ul class="flex flex-row gap-2 text-xs justify-end">
          <% if @review.user.gender != 'gender_unspecified' %>
            <li><%= @review.user.gender_i18n %></li>
          <% end %>
          <% if @review.user.age_group != 'age_unspecified' %>
            <li><%= @review.user.age_group_i18n %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="divider mt-0"></div>

    <div class="review_body space-y-4">
      <div class="minimal_interaction space-y-1">
        <div class="attribute_name">
          <%= Review.human_attribute_name(:minimal_interaction) + ': ' %>
        </div>
        <div class="attribute_body px-2">
          <% if @review.int_unspecified? %>
            <p>評価なし</p>
          <% else %>
            <div class="rating">
              <% Review.int_rates.each do |rate| %>
                <%= radio_button_tag "review_#{@review.id}[minimal_interaction]", rate, rate == @review.minimal_interaction, { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="equipment_customization space-y-1">
        <div class="attribute_name">
          <%= Review.human_attribute_name(:equipment_customization) + ': ' %>
        </div>
        <div class="attribute_body px-2">
          <% if @review.eqcust_unspecified? %>
            <p>評価なし</p>
          <% else %>
            <div class="rating">
              <% Review.eqcust_rates.each do |rate| %>
                <%= radio_button_tag "review_#{@review.id}[equipment_customization]", rate, rate == @review.equipment_customization, { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="solo_friendly space-y-1">
        <div class="attribute_name">
          <%= Review.human_attribute_name(:solo_friendly) + ': ' %>
        </div>
        <div class="attribute_body px-2">
          <% if @review.sofr_unspecified? %>
            <p class="text-sm">評価なし</p>
          <% else %>
            <div class="rating">
              <% Review.sofr_rates.each do |rate| %>
                <%= radio_button_tag "review_#{@review.id}[solo_friendly]", rate, rate == @review.solo_friendly, { disabled: true, class: "mask mask-star-2 bg-orange-400 cursor-default" } %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="comment space-y-1">
        <div class="attribure_name">
          <%= Review.human_attribute_name(:comment) + ':' %>
        </div>
        <div class="attribute-body p-2 rounded-lg bg-white/50 text-sm">
          <%= safe_join(@review.comment.split("\n"), tag(:br)) %>
        </div>
      </div>

      <div class="last_update text-xs">
        <p class="text-right">
          <%= '最終更新日時: ' + l(@review.updated_at, format: :long) %>
        </p>
      </div>
    </div>

    <div class="card-actions justify-end mt-4">
      <%= link_to t('defaults.back'), 'javascript:history.back()', class: 'btn' %>
    </div>
  </div>
</div>
