<div class="mx-auto md:w-2/3 w-full max-w-xs">
  <h1 class="font-bold text-4xl">
    <%= t '.title' %>
  </h1>

  <%= form_with url: login_url, class: 'contents' do |f| %>
    <div class="my-5">
      <%= f.label :email, class: 'block mb-2' %>
      <%= f.email_field :email, class: 'input input-bordered w-full max-w-xs' %>
    </div>

    <div class="my-5">
      <%= f.label :password, class: 'block mb-2' %>
      <%= f.password_field :password, class: 'input input-bordered w-full max-w-xs' %>
    </div>

    <div class="text-center mt-7">
      <%= f.submit t('defaults.login'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class='text-center mt-2'>
  <%= link_to t('.to_signup_page'), signup_path, class: 'btn btn-link btn-xs' %>
  <%= link_to t('.password_forget'), new_password_resets_path %>
</div>
