<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
    <%= t '.title' %>
  </h1>

  <%= form_with url: login_url, class: 'contents' do |f| %>
    <div class="my-5">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
    </div>

    <div class="my-5">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full' %>
    </div>

    <div class="inline">
      <%= f.submit t('defaults.login'), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<div class='text-center my-6'>
  <%= link_to t('.to_signup_page'), signup_path, class: 'btn btn-link' %>
  <!-- パスワードリセット申請ページができるまでコメントアウト
  <%= link_to t('.password_forget'), '#' %>
  -->
</div>
