<!DOCTYPE html>
<html data-theme="lemonade">
  <head>
    <title>ヒトカラナビ</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" rel="stylesheet">
    <%= display_meta_tags(default_meta_tags) %>
  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-YPLGMK7M17"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-YPLGMK7M17');
  </script>

  <body class="flex flex-col min-h-screen">
    <% if logged_in?%>
      <%= render 'shared/header' %>
    <% else %>
      <%= render 'shared/before_login_header' %>
    <% end %>

    <%= render 'shared/flash_messages' %>

    <div class="flex-grow">
      <div class="container w-5/6 mx-auto max-w-screen-xl my-10">
        <%= yield %>
      </div>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>
